Repository JaxGaussianProcesses/GPJax, pull requests merged in 2023-08, with the labels that each got.

#347 Precision check feature
  gpjax/dataset.py
  tests/test_dataset.py
Labels: enhancement

#348 Fix objectives tests
  tests/test_objectives.py
Labels: bug

#345 Categorical kernel
  gpjax/kernels/__init__.py
  gpjax/kernels/non_euclidean/__init__.py
  gpjax/kernels/non_euclidean/categorical.py
  tests/test_kernels/test_non_euclidean.py
Labels: enhancement, testing

#340 Support for missing values using masked dataset
  gpjax/dataset.py
  gpjax/fit.py
  gpjax/gaussian_distribution.py
  gpjax/gps.py
  gpjax/linops/dense_linear_operator.py
  gpjax/objectives.py
  tests/test_dataset.py
  tests/test_gaussian_distribution.py
Labels: enhancement

#319 Benchmarking
  .github/workflows/benchmarks.yml
  .gitignore
  benchmarks/__init__.py
  benchmarks/asv.conf.json
  benchmarks/kernels.py
  benchmarks/linops.py
  benchmarks/objectives.py
  benchmarks/predictions.py
  benchmarks/sparse.py
  benchmarks/stochastic.py
  gpjax/__init__.py
  poetry.lock
  pyproject.toml
Labels: performance
