Repository JaxGaussianProcesses/GPJax, pull requests merged in 2023-06, with the labels that each got.

#300 Add cite functionality
  docs/examples/collapsed_vi.py
  docs/examples/graph_kernels.py
  docs/examples/regression.py
  docs/examples/uncollapsed_vi.py
  docs/refs.bib
  gpjax/__init__.py
  gpjax/citation.py
  poetry.lock
  pyproject.toml
  tests/test_citations.py
Labels: enhancement

#296 Add integrator/likelihoods doc
  docs/examples/likelihoods_guide.py
  gpjax/__init__.py
  mkdocs.yml
Labels: documentation

#307 Smoke testing
  .github/workflows/integration.yml
  docs/examples/collapsed_vi.py
  docs/examples/uncollapsed_vi.py
  tests/integration_tests.py
Labels: testing

#317 Docstring tester
  .pre-commit-config.yaml
  docs/examples/likelihoods_guide.py
  gpjax/kernels/approximations/rff.py
  poetry.lock
  pyproject.toml
Labels: testing

#324 changed schedule peak_value to 1e-2 for the svgp notebook so it does not give nans
  docs/examples/uncollapsed_vi.py
Labels: bug

#326 Bugfix in BasisFunctionComputation
  gpjax/kernels/computations/basis_functions.py
Labels: bug
