Repository JaxGaussianProcesses/GPJax, pull requests merged in 2024-08, with the labels that each got.

#461 Update docs build process
  .github/workflows/build_docs.yml
  .github/workflows/integration.yml
  .github/workflows/test_docs.yml
  .github/workflows/tests.yml
  .gitignore
  docs/index.md
  docs/scripts/gen_examples.py
  docs/scripts/sharp_bits_figure.py
  docs/sharp_bits.md
  docs/static/GP.pdf
  docs/static/GP.svg
  docs/static/bijector_figure.svg
  docs/static/css/gpjax_theme.css
  docs/static/favicon.ico
  docs/static/gpjax.mplstyle
  docs/static/gpjax_logo.pdf
  docs/static/gpjax_logo.svg
  docs/static/jaxkern/lato.ttf
  docs/static/jaxkern/logo.png
  docs/static/jaxkern/logo.svg
  docs/static/jaxkern/main.py
  docs/static/step_size_figure.png
  docs/static/step_size_figure.svg
  docs/stylesheets/extra.css
  examples/barycentres.py
  examples/barycentres/barycentre_gp.gif
  examples/bayesian_optimisation.py
  examples/classification.py
  examples/collapsed_vi.py
  examples/constructing_new_kernels.py
  examples/data/max_tempeature_switzerland.csv
  examples/data/yacht_hydrodynamics.data
  examples/decision_making.py
  examples/deep_kernels.py
  examples/gpjax.mplstyle
  examples/graph_kernels.py
  examples/intro_to_gps.py
  examples/intro_to_gps/decomposed_mll.png
  examples/intro_to_gps/generating_process.png
  examples/intro_to_kernels.py
  examples/likelihoods_guide.py
  examples/oceanmodelling.py
  examples/poisson.py
  examples/regression.py
  examples/uncollapsed_vi.py
  examples/utils.py
  examples/yacht.py
  gpjax/flax_base/bijectors.py
  gpjax/flax_base/param.py
  gpjax/flax_base/types.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/integration_tests.py
Labels: documentation

#462 Backend doc
  examples/backend.py
  mkdocs.yml
Labels: documentation

#468 Add Hatch
  .github/pull_request_template.md
  .github/workflows/build_docs.yml
  .github/workflows/integration.yml
  .github/workflows/test_docs.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  README.md
  docs/contributing.md
  docs/installation.md
  examples/backend.py
  examples/barycentres.py
  examples/bayesian_optimisation.py
  examples/classification.py
  examples/collapsed_vi.py
  examples/constructing_new_kernels.py
  examples/decision_making.py
  examples/deep_kernels.py
  examples/graph_kernels.py
  examples/intro_to_gps.py
  examples/intro_to_kernels.py
  examples/likelihoods_guide.py
  examples/oceanmodelling.py
  examples/poisson.py
  examples/regression.py
  examples/uncollapsed_vi.py
  examples/utils.py
  examples/yacht.py
  gpjax/decision_making/test_functions/continuous_functions.py
  gpjax/distributions.py
  gpjax/gps.py
  gpjax/kernels/approximations/rff.py
  gpjax/kernels/computations/base.py
  gpjax/kernels/computations/eigen.py
  gpjax/kernels/stationary/matern12.py
  poetry.lock
  pyproject.toml
  static/CONTRIBUTING.md
  tests/test_decision_making/test_utility_functions/test_utility_functions.py
  tests/test_kernels/test_nonstationary.py
  tests/test_kernels/test_stationary.py
Labels: build

#470 Add workflow
  .github/workflows/stale_prs.yml
Labels: ci
